<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="info.huideyeren.ITStudySearchPlus" android:versionName="0.0.3" android:versionCode="2">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="ITStudySearchPlus" android:theme="@style/AppTheme" android:icon="@drawable/icon"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>